<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <div class="container">
            <h2>CET023-Sep-2024-Intake-13</h2>
            <form action="/in_class" method="post">
                <input type="submit" value="In Class">
            </form>
            <form action="/individual_assignment" method="post">
                <input type="submit" value="Individual Assignment">
            </form>
            <form action="/group_assignment" method="post">
                <input type="submit" value="Group Assignment">
            </form>
        </div>
    </body>
</html>
