<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <div class="container">
            <h2>REITs</h2>
            <form action="/shares" method="post">
                <input type="submit" name="q" value="Capitaland">
            </form>
            <form action="/shares" method="post">
                <input type="submit" name="q" value="Frasers">
            </form>
            <form action="/shares" method="post">
                <input type="submit" name="q" value="Mapletree">
            </form>
            <form action="/group_assignment" method="post">
                <input type="submit" value="Group Assignment">
            </form>
        </div>
    </body>
</html>
