<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <div class="container">
        <h1>REITs</h1>

        <div class="options">
            <a href="shares.html">Capitaland</a>   <!-- Links to Capitaland REIT details -->
            <a href="shares.html">Frasers</a>      <!-- Links to Frasers REIT details -->
            <a href="shares.html">Mapletree</a>    <!-- Links to Mapletree REIT details -->
            <a class="home-button" href="index.html">Home</a> <!-- Links back to the home page -->
        </div>
    </div>
</body>
</html>
